<form action="/slave" method="POST">

    <label>Slave Status</label>
    <select id="status">
        <option value="Normal">Normal</option>
        <option value="Busy">Busy</option>
    </select>

    <button type="submit">Start</button>
</form>