<header>
    <nav class="header-nav">
        <a class="header-title" href="/">ModbusBuddy</a>
        <ul>
            <li><a href="/configuration">Configuration</a></li>
            <li><a href="/documentation">Documentation</a></li>
            <li><a href="/console">Console</a></li>
        </ul>
    </nav>
</header>